.card-default {
  background-color: $card-background-color;
  border-radius: 20px;
  box-shadow:
          inset 3 5 5px $card-shadow-top-color,
          inset -3 -5 5px $card-shadow-bottom-color;
  margin: 10px;
}