$card-background-color: rgba(0, 0, 0, 0.3);
$card-shadow-top-color: rgb(68, 68, 68);
$card-shadow-bottom-color: rgb(0, 0, 0);

$label-text-color: rgba(0, 0, 0, 0.8);
$label-text-shadow-color: rgba(98, 98, 98, 0.5);