$card-background-color: rgba(102, 0, 255, 0.1);
$card-shadow-top-color: rgb(227, 199, 255, 1);
$card-shadow-bottom-color: rgb(255, 161, 161, 1);

$label-text-color: rgba(255, 255, 255, 0.76);
$label-text-shadow-color: rgba(135, 99, 189, 0.4);